/* ---------------------------------
 *       tzu hui defined
 * --------------------------------- */
.button.is-link {
  background: #33b2e4 !important;
}
.d-felx {
  display: flex !important;
}
.align-items-center {
  align-items: center;
}
.footer {
  padding: 3rem 1.5rem;
}
.pagination-link.is-current {
  background-color: #33b2e4;
  border-color: #33b2e4;
  color: #fff;
}
